.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 4%;
  /* flex-flow: row wrap; */
}

/* .wrapper > div:nth-child(4n) {
  margin-right: 0;
} */