.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  
  box-sizing: border-box;
  max-width: 100%;
  padding: 15px 35px;
  margin: 0 0 15px 0;

  background: #FFF;
  border: 1px solid #000000;

  text-align: left;
  /* float: left; */
}

/* div a .wrapper:nth-child(odd) {
  background-color: aqua;
} */
.wrapper1 {
  width: 49%;
  float: left;
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;

  color: #000000;
}

.body {
  max-width: 100%;
  box-sizing: border-box;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.41);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.body span {
  max-width: 100%;
  
}

.link {
  box-sizing: border-box;
  text-decoration: none;
}